body {
  /*padding-top: 50px;*/
}

.profile-pic {
	height: 140px;
	margin: 30px;
}

.name {
	font-size: 30px;
	padding-top: 50px;
	margin: 30px
}
/*.starter-template {
  padding: 40px 15px;
  text-align: center;
}*/